[[extend 'base.html']]

[[block content]]
    <H1 class="border-bottom mb-4">Posts by [[=posts[0].post.author.username]]</H1>
    [[for post in posts:]]
        <article class="media content-section">
            <img class='rounded-circle article-img' src="images/[[=post.profile.image]]">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="[[=URL('user', post.post.author.id)]]">[[=post.post.author.username]]</a>
                <small class="text-muted">[[=post.post.date_posted.strftime("%B %d, %Y")]]</small>
            </div>
            <h2><a class="article-title" href="[[=URL('post', post.post.id)]]">[[=post.post.title]]</a></h2>
            <p class="article-content">[[=post.post.content]]</p>
            </div>
        </article>
    [[pass]]
[[end]]